@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
}
body::-webkit-scrollbar {
    display: none;
}
 
header {
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
 }

.main {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding: 20px;
}

.search-container, .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="search"], #searchBtn {
    margin: 10px;
}

#search {
    width: 70%;
    max-width: 500px;
    padding: 15px 30px;
    background-color: rgba(52, 73, 94, 0.7);
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px white;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    transition: 1s;
}

#search:focus {
    background-color: white;
    color: black;
}

#search-button {
    padding: 15px 30px;
    background-color: #65c747;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #a72525;
}

.box {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    height: 450px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.box img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.05);
}

.box .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.5s;
    border-radius: 5px;
}

.box:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay h2 {
    margin-bottom: 10px;
}

.overlay p {
    font-size: 14px;
}

.loading {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    /* display: none; Initially hidden */
}

@media (max-width: 768px) {
    .box {
        width: 45%;
    }
    #search {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .box {
        width: 100%;
    }
    #search {
        font-size: 18px;
    }
    
}
.suggestions {
    position: absolute;
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    background-color: rgb(48, 45, 45);
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
    z-index: 1000;
    top: 23%; 
    left: 30%; 
}
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #373b38;
}
.suggestion-item:hover {
    background-color: #9a6464;
}
.suggestion-item:last-child {
    border-bottom: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa53;
    text-align: center;
    transform: translateX(-20px);
}
/* .pagination::-webkit-scrollbar{
display: none;
} */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 0px ;
    width: 50%;
    margin: 0 auto;
}
.page-buttons::-webkit-scrollbar {
    display: none;
}

.page-buttons {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 80%;
}

.slide-button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination #prev-page, .pagination #next-page {
    background-color: #0056b3;
    padding: 10px;
    cursor: pointer;
}

.pagination #prev-page:hover, .pagination #next-page:hover {
    background-color: #003d99;
}
